.menu-h {
  background-color: #e2f5fd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  border-radius: 0px 0px 4px 4px;
}

.menu-links {
  max-width: 100%;
  align-items: center;
  display: flex;
}

.menu-h ul {
  display: flex;
  align-items: center;
}

.menu-h ul li {
  list-style: none;
}

.introducao {
  text-align: left;
  color: #000a60;
}

.menu-h ul li a {
  color: #000a60;
  padding: 20px;
  text-decoration: none;
}

.register-button {
  background-color: #71bbf8;
  border-radius: 4px;
  padding: 20px 10px;
  margin-left: 20px;
}

.bicicleta {
  height: 800px;
  background-color: aliceblue;
  background-image: url("./img/bicicleta.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
}

.background {
  margin: auto;
  background: white;
  padding: 1rem 2rem;
  border-radius: 4px;
}

.background-button {
  text-decoration: none;
  color: #000a60;
}

h1:hover {
  background: #adf;
  color: #00063a;
  transition: 0.3s;
}

h1.pseudo-element {
  margin-left: 60px;
  margin-top: 60px;
}

.pseudo-element::after {
content: "";
background: #e2f5fd;
display: block;
width: 60px;
height: 4px;
}

li.produtos {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

ul.lista-produtos {
list-style: none;
margin-left: 60px;
padding: 0px;
}

li.produtos::before {
  display: inline-block;
  content: "";
  width: 8px;
  height: 8px;
  background: linear-gradient(#71bbf8,#e2f5fd);
  border: 2px solid #71bbf8;
  margin-right: 10px;
  border-radius: 50%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  margin: 0px;
  background-color: #30699b;
  height: 100vh;
}
