.menu-h {
  background-color: #e2f5fd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  border-radius: 0px 0px 4px 4px;
}

.menu-links {
  max-width: 100%;
  align-items: center;
  display: flex;
}

.menu-h ul {
  display: flex;
  align-items: center;
}

.menu-h ul li {
  list-style: none;
}

.introducao {
  text-align: left;
  color: #000a60;
}

.menu-h ul li a {
  color: #000a60;
  padding: 20px;
  text-decoration: none;
}

.register-button {
  background-color: rgb(113, 187, 248);
  border-radius: 4px;
  padding: 20px 10px;
  margin-left: 20px;
}

.bicicleta {
  height: 800px;
  background-color: aliceblue;
  background-image: url("./img/bicicleta.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
}

.background {
  margin: auto;
  background: white;
  padding: 1rem 2rem;
}

.background-button {
  text-decoration: none;
  color: #000a60;
}

h1:hover {
  background: #adf;
  color: #00063a;
  transition: 0.3s;
}

h1:focus {
  background: #cfa;
}

h1:active {
  background: #ffa;
}

h1:visited {
  background: #fda;
  color: #731;
}

.pattern {
  height: 300px;
  background-color: rgb(62, 111, 154);
  background-image: url("./img/pattern.svg");
  background-repeat: repeat;
}


body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  margin: 0px;
  background-color: #3e6f9a;
  height: 100vh;
}
